<!DOCTYPE html>
<html>
    <h3>Add a Dragon!</h3><hr>
    <form method="POST", action="/dragon", class="add-Dragon">
        <div class>
            <h1>Dragon Name</h1>
            <input type="text", name = "DragonName", value="", size="50">
        </div>
        <div>
            <h1>Rider</h1>
            <input type="text", name = "Rider", value="", size="50">
        </div>
        <div>
            <h1>Identification</h1>
            <input type="text", name = "Identification", value="", size="50">
        </div>
        <div>
            <h1>House</h1>
            <input type="text", name = "House", value="", size="50">
        </div>
        <div class="btn">
            <input type="submit", value="Dracarys", >
        </div>      
   </form>
</html>
