<!DOCTYPE html>
<html lang="en">
<head>
    <title>House of Dragons</title>
    <link rel = "stylesheet" href = "./css/styles.css">
</head>

<header>
    <div class = "header-div">
        <img src = "./img/header.jpg" alt = "placeholder">
    </div>
    
</header>
<body>
    
    {{{body}}}
</body>
<footer>
    <div class="footer-div">
        <a href="/">Dragons Home &nbsp | &nbsp</a>
        <a href="./dragon">Add Dragon &nbsp | &nbsp</a>
        <a href="./stats">Stats</a>
    </div>
    
</footer>
</html>